<div >
    <div class="container">
      <div *ngIf="!submitted">
        <div class="group">

          <input
            type="text"
            class="control name"
            id="name"
            required
            [(ngModel)]="product.name"
            name="name"
            placeholder="name"
          />
        </div>
  
        <div class="group">

          <input
            class="control"
            id="price"
            required
            [(ngModel)]="product.price"
            name="price"
            placeholder="price €"
          />
        </div>
  
        <div class="group">

          <input
            class="control"
            id="description"
            required
            [(ngModel)]="product.description"
            name="description"
            placeholder="description"
          />
        </div>
  
        <div class="group">

          <input
            class="control"
            type="file"
            id="image"
            required
            name="image"
            (change)="onImageSelected($event)"
            
          />
        </div>
  
        <div class="group">
          <mat-select [(ngModel)]="product.category_id" class="control" placeholder="category">
            <mat-option  *ngFor="let category of categories" [value]="category.id">
              {{ category.name }}
            </mat-option>
          </mat-select>
        </div>
  
        <button (click)="saveProduct()" class="btn btn-secondary m-3">Post your product</button>
      </div>
  
      <div *ngIf="submitted">
        <h4>Product was submitted successfully!</h4>
        <button class="btn btn-success" (click)="newProduct()">Add</button>
      </div>
    </div>
  </div>
  