




<div class= "container">
    <div>
    <img src="http://localhost:8000/image/{{product.image}}" alt=image of product>
    </div>
    <div class= "index">
            <h1>{{product.name | uppercase}} </h1>
    
    
            <p>{{product.description}}</p>  
            <p>{{product.price}}€</p>
        <div *ngIf="!isInCart; else added">
            <button class="btn" (click)=addToCart()>
                <img src="/assets/images/icons8-add-to-basket-50.png" alt="panier">
                
            </button>  
        </div>
        <ng-template #added>
            <button class="btn" (click)=addToCart()>
                <img src="/assets/images/icons8-add-to-basket-50-2.png" alt="panier">
                <span>Added to Cart</span>
            </button>  
        </ng-template>
    </div>
 
</div>