
  <nav class="navbar navbar-expand navbar-white shadow-sm" >
    <!-- Logo -->

    <a class="navbar-brand" href="/home" routerLink="home">
      <img
        src="assets/screen1.png"
        alt=""
        class=""
        href="/home"
        routerLink="home"
      />
    </a>

    <div class="font" href="/home" routerLink="home">
      Babel'art
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
        href="https://fonts.googleapis.com/css2?family=Road+Rage&family=Yellowtail&display=swap"
        rel="stylesheet"
      />
    </div>

  





    <ul class="navbar-nav ml-auto"  *ngIf="!isLoggedIn">
      <button
        href="/register"
        routerLink="register"
        type="button"
        class="btn btn-secondary"
      >
        Sign up
      </button>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
 
      <li class="nav-item">
        <a href="/product_form" class="nav-link" routerLink="user/product_form">Devenir Vendeur</a>
      </li>
      <li class="nav-item">
        <a href="/panier" class="nav-link panier" routerLink="cart"> Mon Panier</a>
      </li>
      <li *ngIf="showAdminBoard" class="nav-item" >
        <a href="/admin" class="nav-link" routerLink="admin">Panel Admin</a>
      </li>
      <ul class="navbar-nav mr-auto" routerLinkActive="active">


    
          <li class="nav-item">
            <a href="/user" class="nav-link panier" *ngIf="isLoggedIn" routerLink="user">{{username}}</a>
          </li>
        </ul>
    <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav>


