
  <nav class="navbar navbar-expand navbar-white shadow-sm">
    <!-- Logo -->

    <a class="navbar-brand" href="/home" routerLink="home">
      <img
        src="assets/screen1.png"
        alt=""
        class="nav-link"
        href="/home"
        routerLink="home"
      />
    </a>

    <div class="font" href="/home" routerLink="home">
      Babel'art
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
        href="https://fonts.googleapis.com/css2?family=Road+Rage&family=Yellowtail&display=swap"
        rel="stylesheet"
      />
    </div>

  



    <div class="nav navbar-nav mx-auto">
      <form class="form-inline my-2 my-lg-0">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        
        <button type="submit" class="btn btn-outline-secondary">Search</button>
      </form>
    </div>

    <ul class="navbar-nav ml-auto"  *ngIf="!isLoggedIn">
      <button
        href="/register"
        routerLink="register"
        type="button"
        class="btn btn-primary"
      >
        Sign up
      </button>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/panier" class="nav-link" routerLink="cart"> Mon Panier</a>
      </li>
      <li *ngIf="showAdminBoard" class="nav-item" >
        <a href="/admin" class="nav-link" routerLink="admin">Panel Admin</a>
      </li>
      <ul class="navbar-nav mr-auto" routerLinkActive="active">


    
          <li class="nav-item">
            <a href="/user" class="nav-link" *ngIf="isLoggedIn" routerLink="user">{{username}}</a>
          </li>
        </ul>
    <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav>


