.container{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  min-height: 80vh;
  width: 50vw;
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
 
}
.btn{
  width: 50%;
  margin-left: auto;
  margin-right: auto;

}
.image{
  grid-column: span 5;

  background-image: url("/assets/images/Rectangle 1049.png");
  background-position: center;
  background-repeat:no-repeat;
  background-size: cover;

}
.input{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  grid-column: 6/ span 12;
background-color: white;
  
}
.container-form{
  display: grid;
  grid-template-columns: repeat(2, 1fr);

}
.picture{
  width: 100%;
}
.input4{
  grid-column: span 4;
  
}
.signup{
  width: 100%;
text-align: center;
grid-column: span 12;
grid-row: span 1;
margin-top: 15px;
}
.signup h1{
  font-weight: bold;

}
.group{
border-radius: 5px;
  display: flex;
  flex-direction: column;

  margin-bottom: 2%;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}


.control{
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 1rem;
  padding: 10px;
  margin-top: 4px;
	margin: 0 auto;
  background-color: #dfe6e9;
  border-radius: 0.2rem;
  border: none;
  margin-top: 3px;
  width: 90%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
  
}

@media screen and (max-width: 800px){
  .image{
    display: none;
    grid-column: 0;
}
.input{
  grid-column: span 12;
}
.container{
  min-height: auto;
}
}