<div>
    <div class="submit-form">
      <div *ngIf="!submitted">
        <div class="form-group">
          <label for="username">user</label>
          <input
            type="text"
            class="form-control"
            id="username"
            required
            [(ngModel)]="user.username"
            name="username"
          />
        </div>

        <div class="form-group">
          <label for="email">email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            required
            [(ngModel)]="user.email"
            name="email"
          />
        </div>

        <div class="form-group">
          <label for="address">address</label>
          <input
            type="text"
            class="form-control"
            id="address"
            required
            [(ngModel)]="user.address"
            name="address"
          />
        </div>

        <div class="form-group">
          <label for="phone">phone</label>
          <input
            type="text"
            class="form-control"
            id="phone"
            required
            [(ngModel)]="user.phone"
            name="phone"
          />
        </div>

        <div class="form-group">
          <label for="password">password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            required
            [(ngModel)]="user.password"
            name="password"
          />
        </div>

        <div class="form-group">
          <label for="password_confirmation">password_confirmation</label>
          <input
            type="password"
            minlength="6"
            class="form-control"
            id="password_confirmation"
            required
            [(ngModel)]="user.password_confirmation"
            name="password_confirmation"
          />
        </div>


  
  
        <button (click)="saveUser()" class="btn btn-success">Submit</button>
      </div>
  
      <div *ngIf="submitted">
        <h4>User was submitted successfully!</h4>
        <button class="btn btn-success" (click)="newUser()">Add</button>
      </div>
    </div>
  </div>